$primary-color: #9482ce;
$secondary-color: #f49898;
$background-color: #adb4ef;
$color-text:#333;
$color-text-2:#e9e9f7;
$color-light:#fff;

$font-family: Arial, Helvetica, sans-serif;
$font-size: 16px;
$line-height: 1.6;

$container-width: 1200px;

